<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add comment</title>
    <script type="text/javascript"
    src="/static/tiny_mce/tiny_mce.js">
    </script>
    <script type="text/javascript">
        tinyMCE.init({
            'mode':'textareas',
            'theme':'advanced',
            'width':700,
            'height':300
        });
    </script>
</head>
<body>
{% extends 'main/base.html' %}
{% block header %}
    <h4>新的评论</h4>
{% endblock %}

{% block content %}
<form action="{% url "bbs:add_comment_test"%}" method="post">
    {% csrf_token %}
    <textarea name="comment_content"></textarea>
    <input type="hidden" name="topic_id" value="{{ topic_id }}">
    {% buttons %}
        <button name="submit" class="btn btn-primary">发帖</button>
    {% endbuttons %}
</form>

{% endblock %}
</body>
</html>