<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'main/base.html' %}
{% load bootstrap3 %}
{% block header %}
    <h2>{{ section_name }}</h2>
{#    {% buttons %}#}
{#    <button class="btn btn-default" type="submit" style="float: right;margin: -10px;"><a href="{% url "bbs:publish_kaoyan" %}" style="text-decoration: none" >我要发帖</a>#}
{#    </button>#}
{#    {% endbuttons %}#}
    <a href="{% url "bbs:publish" section_id %}" class="btn btn-primary" role="button" style="float: right;margin: -10px;">发帖</a>
    <br>
{% endblock %}
{% block content %}

    {% for topic in topic_list %}
        <a href="{% url "bbs:detail" topic.id %}">{{ topic.title }}</a>
        <br>
        {% autoescape off %}
        {{ topic.summary }}
        {% endautoescape %}
        <hr>
    {% endfor%}
    <nav aria-label="...">
  <ul class="pagination">
    <li class="disabled">
      <span>
        <span aria-hidden="true">&laquo;</span>
      </span>
    </li>
    <li class="active">
      {% for i in topic_list.paginator.page_range %}
        <a href="{% url "bbs:index" section_id i %}"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
      {% endfor %}
    </li>
  </ul>
</nav>
{#    {% for i in topic_list.paginator.page_range %}#}
{#        <a href="{% url "bbs:kaoyanmath" i %}">{{ i }}</a>#}
{#    {% endfor %}#}
{% endblock %}

</body>
</html>