<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
{% extends "bbs/base.html" %}
{% load comments %}

{% block header %}
<div class="jumbotron">
        <h3>{{ article.title }}</h3>
    </div>
{% endblock %}


{% block content %}
    {{ article.content|safe }}
    {% render_comment_list for article %}
    <form action="{% url "bbs:add_comment"%}" method="post">
        {% csrf_token %}
        <textarea name="comment_content"  cols="80" rows="5"></textarea>
        <input type="hidden" name="topic_id" value="{{ topic_id }}">
        <input type="submit" value="说一句" id="id_submit">
    </form>

{% endblock %}
</body>
</html>