<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>

        #log{
            position: relative;
            top: 18px;
        }

    </style>
</head>
<body>
    {% extends "main/base.html" %}
    {% load bootstrap3 %}

    {% block header %}
      <div id="log"><h2>登录账户</h2></div>
    {% endblock header %}

    {% block content %}
        <form method="post" action="{% url 'users:login' %}" class="form">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
            <button name="submit" class="btn btn-primary">log in</button>
          {% endbuttons %}

          <input type="hidden" name="next" value="{% url "main:home" %}" />
        </form>
    {% endblock content %}
</body>
</html>