<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load bootstrap3 %}
{% block content %}
{% if query %}
    <h3>搜索结果如下</h3>
    <br>
    {% for result in page.object_list %}
        {% autoescape off %}
            {{ result.object.title}}
        {{ result.object.content }}
        {% endautoescape %}
        <hr>
    {% empty %}
        <p>啥也没找到</p>
    {% endfor %}

    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}
                <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
                {% endif%}&laquo;上一页{% if page.has_previous %}
                </a>
            {% endif %}

            {% if page.has_next %}
                <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
                {% endif %}&raquo;{% if page.has_next %}
                </a>
            {% endif %}

        </div>
    {% endif %}
{% endif %}
{% endblock %}

</body>
</html>