{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Log</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    {# 静态导航 #}
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar"  >
          </button>
          <a class="navbar-brand" href="{% url 'note:index' %}">Note</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% if user.is_authenticated %}  
              <li><a href="{% url 'note:topics' %}">主题</a><li>
            {% else %}
              <li><a href="{% url 'users:login' %}"></a></li>  
            {% endif %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url "main:home" %}"><span class="glyphicon glyphicon-home"></span></a></li>
          </ul>
        </div>

      </div>
    </nav>

    <div class="container">
      <div class="page-header">
        {% block header %}{% endblock header %}
      </div>
      <div>
        {% block content %}{% endblock content %}
      </div>
    </div>
