<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit_entry</title>
</head>
<body>
    {% extends "note/edit_entry.html" %}
    {% block content %}
        <p><a href="{% url 'note:topic' topic.id%}">{{ topic }}</a></p>
        <p>Edit entry:</p>
        <form action="{% url 'note:edit_entry' entry.id %}" method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit">保存</button>
        </form>
    {% endblock %}

</body>
</html>