<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    {% extends 'note/base.html' %}
    {% block header %}
      <div class="jumbotron">
        <h1>今天，写点啥呢？</h1>
      </div>
    {% endblock header %}

    {% block content %}
      <h2>
        {% if user.is_authenticated %}
        Welcome!
            <p>Let's write something.</p>
        {% else %}
        <a href="{% url "users:register" %}">创建账户</a>，即刻开始记录你的点点滴滴。
        {% endif %}
      </h2>
      <img src="http://img.zcool.cn/community/01486e59a68454a8012028a9206ab7.jpg@1280w_1l_2o_100sh.jpg"  alt="上海鲜花港 - 郁金香" />
    {% endblock content %}

</body>
</html>